<div class="row">
  <div class="col-12">
    <h3 class="text-center p-3">{{title}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4 p-3" *ngFor="let category of categories" (click)="navigateToPriceList(category.name)">
    <div class="card box-shadown h-100 bg-primary">
      <img class="card-img" [src]="imagePathPrefix + (category.image ? category.image : defaultImage)" alt="category-card" style="max-height: 15rem; object-fit: cover;">
      <div class="card-footer">
        <h5 class="card-title p-2 m-0">{{category.name}}</h5>
      </div>
    </div>
  </div>
</div>