<div class="container">
  <app-alert [alerts]="alerts"></app-alert>
  <ul class="list-group" *ngIf="salon">
    <!-- Edit User -->
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of users">
      <span>{{ user.name }} - {{ user.email }}</span>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="openEditUser(user)">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button>
        <button type="button" class="btn btn-danger" (click)="openRemoveUser(user)">
          <fa-icon [icon]="removeIcon"></fa-icon>
        </button>
      </div>
    </li>

    <!-- Create User -->
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>Neue Benutzer anlegen</span>
      <button type="button" class="btn btn-primary" (click)="openCreateUser()">
        <fa-icon [icon]="plusIcon"></fa-icon>
      </button>
    </li>
  </ul>
</div>
