<div class="container">
  <ngb-accordion [closeOthers]="oneAtATime">
    <ngb-panel id="edit-salon-info-panel-general-setting">
      <ng-template ngbPanelTitle>
        <span class="font-weight-bold">Allegemein</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-edit-salon-info-general [salon]="salon"></app-edit-salon-info-general>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="edit-salon-info-panel-contact-setting">
      <ng-template ngbPanelTitle>
        <span class="font-weight-bold">Kontakt</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-edit-salon-info-contact [contacts]="contacts"></app-edit-salon-info-contact>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="edit-salon-info-panel-welcome-text-setting">
      <ng-template ngbPanelTitle>
        <span class="font-weight-bold">Willkommen Text</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-edit-salon-info-welcome-text [salon]="salon"></app-edit-salon-info-welcome-text>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
