<div *ngIf="contact" class="text-primary p-3">
  <h3 class="text-primary py-2">Addresse</h3>
  <p>
    <fa-icon [icon]="locationIcon"></fa-icon>
    {{ contact.address1 }} {{ contact.address2 }}, {{ contact.plz }} {{ contact.city }}
  </p>
  <p *ngIf="contact.phone">
    <fa-icon [icon]="phoneIcon"></fa-icon>
    {{ contact.phone }}
  </p>
  <p *ngIf="contact.email">
    <fa-icon [icon]="emailIcon"></fa-icon>
    {{ contact.email }}
  </p>
  <p *ngIf="contact.facebook">
    <fa-icon [icon]="facebookIcon"></fa-icon>
    <a [href]="contact.facebook">{{ contact.facebook }}</a>
  </p>
</div>
