<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-4 text-center p-3">
      <a routerLink="">
        <img class="w-50" [src]="logo" alt="Logo">
      </a>
    </div>
    <div class="nav-scroller col-12 col-md-8 text-center">
      <div class="nav d-flex justify-content-center align-self-stretch">
        <a class="nav-link" routerLink="products" routerLinkActive="active">Services</a>
        <a class="nav-link" routerLink="about" routerLinkActive="active">Über uns</a>
        <a class="nav-link" routerLink="contact" routerLinkActive="active">Kontakt</a>
      </div>
    </div>
  </div>

  
</div>
