<div class="modal-header">
  <h4 class="modal-title">{{ isCreate ? createCategoryText : editCategoryText }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="onModalClosed()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" id="edit-salon-category-modal-form">
    <fieldset>
      <div class="form-row">
        <!-- Name -->
        <div class="form-group col-12">
          <label class="control-label" for="salon-category-name">
            Name <small class="text-muted">erforderlich</small>
          </label>
          <input type="text" class="form-control" id="salon-category-name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && fields.name.errors }" />
          <div *ngIf="submitted && fields.name.errors" class="invalid-feedback">
            <div *ngIf="fields.name.required">Name ist erforderlich</div>
          </div>
        </div>
      </div>
      <!-- Salon -->
      <div class="form-row">
        <div class="form-group col-12">
          <label class="control-label" for="salon-category-salonId">
            Salon
          </label>
          <select class="form-control custom-select" id="salon-category-salonId" formControlName="salonId" [ngClass]="{ 'is-invalid': submitted && fields.salonId.errors }">
            <option *ngFor="let salon of salonList" [value]="salon.id">{{ salon.name }}</option>
          </select>
        </div>
      </div>
      <!-- Bild -->
      <div class="form-row">
        <div class="form-group col-12">
          <label class="control-label" for="salon-category-image">
            Bild
          </label>
          <input type="text" class="form-control" id="salon-category-image" formControlName="image" [ngClass]="{ 'is-invalid': submitted && fields.image.errors }" />
        </div>
      </div>
      <!-- SubCategory -->
      <div class="form-row">
        <div class="form-group col-12">
          <label class="control-label" for="salon-subcategory-image">
            Unterkategorie
          </label>
          <div id="edit-salon-category-modal-subcategories-input">
            <div class="btn-group d-flex">
              <button type="button" class="btn btn-outline-primary w-100" (click)="toggleCreateSubcategory()">
                {{ createText }}
              </button>
              <div class="btn-group w-100" ngbDropdown>
                <button type="button" class="btn btn-primary w-100" ngbDropdownToggle>
                  {{ chooseText }}
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button type="button" class="dropdown-item" *ngFor="let subcategory of subcategories" (click)="onAddingSubcategory(subcategory)">
                    {{ subcategory.name }}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="py-2" id="edit-salon-category-modal-added-subcategories">
            <div class="list-group-item list-group-item-action" *ngFor="let subcategory of subCategoryGroup.controls; let i = index" [formGroupName]="i">
              {{ subcategory | json }}
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
<pre>{{form.value | json}}</pre>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="onModalClosed()">{{ closeText }}</button>
  <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ saveText }} <app-loading-spinner *ngIf="loading"></app-loading-spinner></button>
</div>
