@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* line 15, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.navbar {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* line 21, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.navbar-nav .nav-link {
  padding-top: .715rem;
  padding-bottom: .715rem;
}

/* line 27, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.navbar-brand {
  margin-right: 2rem;
}

/* line 32, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.bg-primary {
  background-color: #e83e8c !important;
}

/* line 36, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 39, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.bg-light.navbar-fixed-top {
  border-width: 0 0 1px 0;
}

/* line 43, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.bg-light.navbar-bottom-top {
  border-width: 1px 0 0 0;
}

/* line 48, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.nav-item {
  margin-right: 2rem;
}

/* line 54, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.btn {
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* line 58, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.btn-sm {
  font-size: 10px;
}

/* line 63, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.btn-warning, .btn-warning:hover, .btn-warning:not([disabled]):not(.disabled):active, .btn-warning:focus {
  color: #fff;
}

/* line 72, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.btn-outline-secondary {
  border-color: #919aa1;
  color: #919aa1;
}

/* line 76, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.btn-outline-secondary:not([disabled]):not(.disabled):hover, .btn-outline-secondary:not([disabled]):not(.disabled):focus, .btn-outline-secondary:not([disabled]):not(.disabled):active {
  background-color: #ced4da;
  border-color: #ced4da;
  color: #fff;
}

/* line 84, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.btn-outline-secondary:not([disabled]):not(.disabled):focus {
  box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.5);
}

/* line 89, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
[class*="btn-outline-"] {
  border-width: 2px;
}

/* line 93, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.border-secondary {
  border: 1px solid #ced4da !important;
}

/* line 99, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
body {
  font-weight: 200;
  letter-spacing: 1px;
}

/* line 104, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* line 109, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.text-secondary {
  color: #919aa1 !important;
}

/* line 115, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
th {
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* line 121, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.table th, .table td {
  padding: 1.5rem;
}

/* line 126, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.table-sm th, .table-sm td {
  padding: 0.75rem;
}

/* line 136, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.dropdown-menu {
  font-size: 0.875rem;
  text-transform: none;
}

/* line 148, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.list-group-item h1, .list-group-item h2, .list-group-item h3, .list-group-item h4, .list-group-item h5, .list-group-item h6,
.list-group-item .h1, .list-group-item .h2, .list-group-item .h3, .list-group-item .h4, .list-group-item .h5, .list-group-item .h6 {
  color: inherit;
}

/* line 156, C:/Users/erago/Projects/yukifriseur/net/yukisalon/yukisalon/ClientApp/src/assets/sass/bootwatch/bootwatch.scss */
.card-title, .card-header {
  color: inherit;
}

/*# sourceMappingURL=../../css/bootwatch/bootwatch.map */