<div *ngIf="!salon">
  <div *ngIf="salonList">
    <div *ngIf="salonList.length > 0">
      <h3 class="text-center">Salon auswählen</h3>
      <div class="card-columns">
        <div class="card bg-light" *ngFor="let salon of salonList" (click)="onSalonPicked(salon)" style="cursor: pointer;">
          <div class="card-body text-center">
            <p class="card-text">{{ salon.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="salonList.length === 0">
      <h3 class="text-center text-muted">Kein Salon angelegt</h3>
    </div>
  </div>
  <div *ngIf="!salonList">
    <h3 class="text-center text-muted">wird geladen...</h3>
  </div>
</div>

<div *ngIf="salon">
  <div class="card-columns">
    <div class="card bg-light" *ngFor="let menu of menus" (click)="onMenuPicked(menu)" style="cursor: pointer;">
      <div class="card-body text-center">
        <p class="card-text">{{ menu.name }}</p>
      </div>
    </div>
  </div>
</div>
