@import "../bootwatch/variables";

.nav-scroller .nav-link.active {
  color: $primary;
  border-bottom: 5px solid $primary;
}

.row-hoverable:hover {
  background-color: $primary;
  color: white;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

.text-primary {
  color: $purple;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}