<app-alert [alerts]="alerts"></app-alert>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="salon" id="edit-salon-general-form">
  <fieldset>
    <div class="form-row">
      <!-- Name -->
      <div class="form-group col-12">
        <label class="control-label" for="salon-name">
          Name <small class="text-muted">erforderlich</small>
        </label>
        <input type="text" class="form-control" id="salon-name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && fields.name.errors }" />
        <div *ngIf="submitted && fields.name.errors" class="invalid-feedback">
          <div *ngIf="fields.name.errors.required">Name ist erforderlich</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <!-- description -->
      <div class="form-group col-12">
        <label class="control-label required" for="salon-description">
          Beschreibung <small class="text-muted">erforderlich</small>
        </label>
        <textarea type="text" class="form-control" rows="3" id="salon-description" formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && fields.description.errors }"></textarea>
        <div *ngIf="submitted && fields.description.errors" class="invalid-feedback">
          <div *ngIf="fields.description.errors.required">Beschreibung ist erforderlich</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <div class="btn-group">
          <button type="submit" class="btn btn-primary">Speichern <app-loading-spinner *ngIf="loading"></app-loading-spinner></button>
          <input type="button" class="btn btn-light" value="Abbrechen" (click)="onClose()" />
        </div>
      </div>
    </div>
  </fieldset>
</form>
