<div class="container">
  <div class="row flex-nowrap justify-content-center align-items-center border-bottom border-primary">
    <div class="col-12 text-center p-3">
      <a routerLink="home">Logo</a>
    </div>
  </div>

  <nav class="nav-scroller">
    <div class="nav d-flex justify-content-center align-self-stretch">
      <a class="nav-link" routerLink="products" routerLinkActive="active">Services</a>
      <a class="nav-link" routerLink="about" routerLinkActive="active">Über uns</a>
      <a class="nav-link" routerLink="contact" routerLinkActive="active">Kontakt</a>
    </div>
  </nav>
</div>
