<app-alert [alerts]="alerts"></app-alert>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="salon" id="edit-salon-welcome-text-form">
  <fieldset>
    <div class="form-row">
      <!-- Name -->
      <div class="form-group col-12">
        <label class="control-label" for="salon-welcome-title">
          Titel <small class="text-muted">erforderlich</small>
        </label>
        <input type="text" class="form-control" id="salon-welcome-title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && fields.title.errors }" />
        <div *ngIf="submitted && fields.title.errors" class="invalid-feedback">
          <div *ngIf="fields.title.errors.required">Titel ist erforderlich</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <!-- description -->
      <div class="form-group col-12">
        <label class="control-label" for="salon-welcome-text">Text</label>
        <textarea type="text" class="form-control" rows="3" id="salon-welcome-text" formControlName="text1" [ngClass]="{ 'is-invalid': submitted && fields.text1.errors }"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <div class="btn-group">
          <button type="submit" class="btn btn-primary">Speichern <app-loading-spinner *ngIf="loading"></app-loading-spinner></button>
          <!-- <input type="button" class="btn btn-light" value="Abbrechen" (click)="onClose()" /> -->
        </div>
      </div>
    </div>
  </fieldset>
</form>
