<app-hero-img [title]=title titleText="" imgName="banner2.jpg"></app-hero-img>
<div class="container">
  <section id="home-welcome" class="py-2">
    <app-welcome [title]=welcomeTitle [text]=welcomeText [extraText]=welcomeExtraText></app-welcome>
  </section>
  <section id="home-features" class="py-2" *ngIf="false">
    <app-featured [features]=features></app-featured>
  </section>
  <section id="home-categories" class="py-2">
    <app-categories-card-list [categories]=categories></app-categories-card-list>
  </section>
  <section id="home-contact" class="py-2">
    <div class="row">
      <div class="col-12 col-md-6">
        <app-contact-open-hours [openHours]=openHours></app-contact-open-hours>
      </div>
      <div class="col-12 col-md-6">
        <app-contact-info [contact]=contact></app-contact-info>
      </div>
    </div>
  </section>
</div>

