<app-alert [alerts]="alerts"></app-alert>
<div *ngIf="salon && salon.contact && !pickedContact">
  <div class="list-group">
    <p *ngFor="let contact of salon.contact" class="list-group-item list-group-item-action" (click)="onContactPicked(contact)">
      {{ contact.address1 }}, {{ contact.plz }} {{ contact.city }}
    </p>
    <p class="list-group-item list-group-item-action" (click)="openCreateNewContact()">
      Neue Kontakt anlegen
    </p>
  </div>
</div>
<div *ngIf="salon && salon.contact && pickedContact">
  <!-- Addresse bearbeitung -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" id="edit-salon-contact-form">
    <fieldset>
      <div class="form-row">
        <!-- Addresse -->
        <div class="form-group col-12 col-md-6">
          <label class="control-label required" for="address-1-input">Addresse <small class="text-muted">erforderlich</small></label>
          <input type="text" class="form-control" name="address" id="address-1-input" formControlName="address1"
            [ngClass]="{ 'is-invalid': submitted && fields.address1.errors }" />
          <div *ngIf="submitted && fields.address1.errors" class="invalid-feedback">
            <div *ngIf="fields.address1.errors.required">
              Addresse ist erforderlich
            </div>
          </div>
        </div>

        <!-- PLZ -->
        <div class="form-group col-12 col-md-2">
          <label for="plz-input" class="control-label required">PLZ <small class="text-muted">erforderlich</small></label>
          <input type="text" class="form-control" name="plz" id="plz-input" formControlName="plz" [ngClass]="{ 'is-invalid': submitted && fields.plz.errors }" />
          <div *ngIf="submitted && fields.plz.errors" class="invalid-feedback">
            <div *ngIf="fields.plz.errors.required">PLZ ist erforderlich</div>
          </div>
        </div>
        <!-- City -->
        <div class="form-group col-12 col-md-4">
          <label for="city-input" class="control-label required">Ort <small class="text-muted">erforderlich</small></label>
          <input type="text" class="form-control" name="city" id="city-input" formControlName="city" [ngClass]="{ 'is-invalid': submitted && fields.city.errors }" />
          <div *ngIf="submitted && fields.city.errors" class="invalid-feedback">
            <div *ngIf="fields.city.errors.required">Ort ist erforderlich</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- Phone -->
        <div class="form-group col-12 col-md-6">
          <label for="phone-input" class="control-label required">Telefonnummer <small class="text-muted">erforderlich</small></label>
          <input type="text" class="form-control" name="phone" id="phone-input" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && fields.phone.errors }" />
          <div *ngIf="submitted && fields.phone.errors" class="invalid-feedback">
            <div *ngIf="fields.phone.errors.required">
              Telefonnummer ist erforderlich
            </div>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group col-12 col-md-6">
          <label for="email-input">Email</label>
          <input type="text" class="form-control" name="email" id="email-input" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fields.email.errors }" />
        </div>
        <!-- Facebook -->
        <div class="form-group col-12 col-md-6">
          <label for="facebook-input">Facebook</label>
          <input type="text" class="form-control" name="facebook" id="facebook-input" formControlName="facebook"
            [ngClass]="{ 'is-invalid': submitted && fields.facebook.errors }" />
        </div>
      </div>

      <!-- Öffnungszeiten -->
      <div class="form-row" formArrayName="openHour">
        <div class="form-group col-12">
          <div class="list-group">
            <div class="list-group-item list-group-item-action" *ngFor="let openHour of openHourGroup.controls; let i = index"
              [formGroupName]="i">
              <div class="row">
                <div class="form-group col-12 col-lg-3">
                  <input type="text" class="form-control" formControlName="day" [ngClass]="{ 'is-invalid': submitted && openHour.controls.day.errors }" />
                  <div *ngIf="submitted && openHour.controls.day.errors" class="invalid-feedback">
                    <div *ngIf="openHour.controls.day.errors.required">Titel ist erforderlich</div>
                  </div>
                </div>
                <div class="form-group col-6 col-lg-3">
                  <input type="time" class="form-control" formControlName="open" *ngIf="openHour.value.isOpen" />
                </div>
                <div class="form-group col-6 col-lg-3">
                  <input type="time" class="form-control" formControlName="close" *ngIf="openHour.value.isOpen" />
                </div>
                <div class="col-6 col-lg-1">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" formControlName="isOpen" />
                      <span class="text-success" *ngIf="openHour.value.isOpen">{{ openText }}</span>
                      <span class="text-danger" *ngIf="!openHour.value.isOpen">{{ closedText }}</span>
                    </label>
                  </div>
                </div>
                <div class="col-6 col-lg-2">
                  <button type="button" class="btn btn-danger" (click)="removeOpenHour(openHour, i)">
                    {{ removeText }} <fa-icon [icon]="removeIcon"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block" (click)="addOpenHour()">
              Öffnungszeiten hinzufügen <fa-icon [icon]="plusIcon"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <div class="btn-group">
            <button type="submit" class="btn btn-primary">Speichern <app-loading-spinner *ngIf="loading"></app-loading-spinner></button>
            <input type="button" class="btn btn-danger" value="Löschen" (click)="onRemove()" *ngIf="canRemove()" />
            <input type="button" class="btn btn-light" value="Reset" (click)="resetForm()" *ngIf="createContact" />
            <input type="button" class="btn btn-light" value="Abbrechen" (click)="onClose()" />
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
